header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.logo-container{
    display: flex;
    align-items: center;
    font-size: 2rem;
}

#logoCenc{
    width: 30px;
    height: 30px;
}